In [2]:
import pandas as pd
import numpy as np

In [9]:
metadata = pd.read_csv('../data/metdata/SPGC-metadata-2018-07-18.csv')

In [4]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57713 entries, 0 to 57712
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 57713 non-null  object
 1   title              57642 non-null  object
 2   author             55451 non-null  object
 3   authoryearofbirth  42946 non-null  float64
 4   authoryearofdeath  41850 non-null  float64
 5   language           57711 non-null  object
 6   downloads          57711 non-null  float64
 7   subjects           57713 non-null  object
 8   type               57713 non-null  object
dtypes: float64(3), object(6)
memory usage: 4.0+ MB

In [5]:
metadata.head()

,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type
0,PG0,NaN,NaN,NaN,NaN,NaN,NaN,set(),Text
1,PG1,The Declaration of Independence of the United ...,"Jefferson, Thomas",1743.0,1826.0,['en'],604.0,"{'United States -- History -- Revolution, 1775...",Text
2,PG2,The United States Bill of Rights: The Ten Orig...,United States,NaN,NaN,['en'],158.0,"{'Civil rights -- United States -- Sources', '...",Text
3,PG3,John F. Kennedy's Inaugural Address,"Kennedy, John F. (John Fitzgerald)",1917.0,1963.0,['en'],28.0,{'Presidents -- United States -- Inaugural add...,Text
4,PG4,Lincoln's Gettysburg Address: Given November 1...,"Lincoln, Abraham",1809.0,1865.0,['en'],55.0,{'Consecration of cemeteries -- Pennsylvania -...,Text

In [6]:
#We want fiction and tales in English
kw = ['fiction','tale']

metadata = metadata[metadata['subjects'].apply(lambda x: any([k in x.lower() for k in kw]))]
metadata = metadata[metadata['language']=='[\'en\']']

In [7]:
metadata.head()

,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type
1,PG1,The Declaration of Independence of the United ...,"Jefferson, Thomas",1743.0,1826.0,['en'],604.0,"{'United States -- History -- Revolution, 1775...",Text
2,PG2,The United States Bill of Rights: The Ten Orig...,United States,NaN,NaN,['en'],158.0,"{'Civil rights -- United States -- Sources', '...",Text
3,PG3,John F. Kennedy's Inaugural Address,"Kennedy, John F. (John Fitzgerald)",1917.0,1963.0,['en'],28.0,{'Presidents -- United States -- Inaugural add...,Text
4,PG4,Lincoln's Gettysburg Address: Given November 1...,"Lincoln, Abraham",1809.0,1865.0,['en'],55.0,{'Consecration of cemeteries -- Pennsylvania -...,Text
5,PG5,The United States Constitution,United States,NaN,NaN,['en'],226.0,"{'United States. Constitution', 'United States...",Text

In [8]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46972 entries, 1 to 57711
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 46972 non-null  object
 1   title              46902 non-null  object
 2   author             44987 non-null  object
 3   authoryearofbirth  34294 non-null  float64
 4   authoryearofdeath  33247 non-null  float64
 5   language           46972 non-null  object
 6   downloads          46972 non-null  float64
 7   subjects           46972 non-null  object
 8   type               46972 non-null  object
dtypes: float64(3), object(6)
memory usage: 3.6+ MB

In [31]:
metadata.subjects

15       {'Mentally ill -- Fiction', 'Whaling ships -- ...
16       {'Fantasy literature', 'Pirates -- Fiction', '...
24       {'Swedish Americans -- Fiction', 'Domestic fic...
27       {'Love stories', 'Wessex (England) -- Fiction'...
32       {'Women -- Fiction', 'Utopias -- Fiction', 'Ut...
                               ...
57135                         {'Capitol pages -- Fiction'}
57164                  {'English fiction -- 19th century'}
57169    {'Camp Fire Girls -- Juvenile fiction', 'Haunt...
57303    {'Antiaircraft guns -- Juvenile fiction', 'Inv...
57442                        {'Married people -- Fiction'}
Name: subjects, Length: 17154, dtype: object

In [1]:
metadata.subjects = metadata.subjects.replace(' -- Fiction', '')

NameError: name 'metadata' is not defined